:root {
  /* Font */
  --font-family: "ProductSans", sans-serif;

  --font-regular: 400;
  --font-bold: 700;

  --letter-spacing-regular: 0;
  --letter-spacing-bold: -0.05em;

  /* Color */
  --bg: #000000;
  --card: #191919;

  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;

  --accent: #20e830;
}
